# List and List related examples

In [36]:
li = [1,2,3,4,5]
print(len(li))  # len() which will return the len of the list

5

In [37]:
li[2] = 2000 # update the list item value
print(li)

[1, 2, 2000, 4, 5]

In [38]:
del li[3] # del the specific index value
# del li #del the entir list
print(li)

[1, 2, 2000, 5]

In [23]:
print(li[-1]) # to access the last item of the list

5

In [39]:
print(li[-3])

2

In [40]:
print(li[1:4]) # list slicing
print(li[3:4])

[2, 2000, 5]
[5]

In [41]:
# methods of list
print(sum(li))
print(max(li))
print(min(li))
print(sum(li)//len(li)) # average value

2008
2000
1
502

In [42]:
# list methods 
li.append(200) # append will insert the new list item at the end
li

[1, 2, 2000, 5, 200]

In [43]:
li.insert(3,59) # places the value in respective index
li

[1, 2, 2000, 59, 5, 200]

In [44]:
li.count(59) # counts the value how many times it is repeated

1

In [45]:
li.index(59) # gives the index value

3

In [46]:
li.sort() # sorts the entire list
li

[1, 2, 5, 59, 200, 2000]

In [47]:
li.pop()
li

[1, 2, 5, 59, 200]

In [48]:
li.pop(2)
li

[1, 2, 59, 200]

In [49]:
# define a function to find out second large of the list
# list = [1,9,16,25,2,3,65]
# output = 25
def secondlarge(li):
    li.sort()
    return li[-2]
li = [1,9,16,25,2,3,65]
secondlarge(li)

25

In [51]:
def genericlarge(li,n):
    li.sort()
    return li[-n]
genericlarge(li,3)

16

In [52]:
def genericleast(li,n):
    li.sort()
    return li[-n]
genericleast(li,0)

1

# Number to list conversion
    - 19563212 - [1,9,5,6,3,2,1,2]

In [53]:
def numberToList(n):
    li = [] # empty list 
    while n != 0:
        r = n % 10
        li.append(r)
        n = n // 10
    li.reverse()
    return li
numberToList(19563212)

[1, 9, 5, 6, 3, 2, 1, 2]

# Data Sturctures - Tuples
  - it is similar to list object
  - list will be enclosed in square brackets [] and Tuples
  - will be enclosed in paraenthsis()
  - list can be increased / decreased and Tuples is fixed so that
  - you can't increase and decrease the Tuple
  - it means list is mutable and Tuple is immutable
  - list will be used for read and write but Tuple is only for reading

t1 = (1,1,5,6,2)
t1

In [55]:
t1[0:4]

(1, 1, 5, 6)

In [59]:
t1.count(1)

2

# Data Sturcture - Dictionaries
-  this data structure object will works on keys and
-  there will be unique key set will be defined
-  every key is separated from its value by colon(:)
-  every key and value pair is separeted by comma(,)
-  it is defined in curl brackets{}

In [61]:
# Define a dict d1 = {}
d1 = {"name":"phani", "emailID":"phani@gmail.com", "mobile number": "9965214854"}
print(d1)

{'name': 'phani', 'emailID': 'phani@gmail.com', 'mobile number': '9965214854'}

In [62]:
print(d1["emailID"]) # to access the specific key value

phani@gmail.com

In [64]:
d1["mobile number"] = 9336852140 # update the dict value 
d1

{'name': 'phani', 'emailID': 'phani@gmail.com', 'mobile number': 9336852140}

# Contact Application
-  Used Concepts : dict,list and tuples
# Modules of contact application
-  add contacts
-  search contacts
-  import new contacts
-  update contacts
-  delete the contacts

In [68]:
contacts = {}  # empty dict object
# define the function for add contacts
def addcontacts(name,phone):
    if name not in contacts:
        contacts[name] = phone
        print("contact added")
    else :
        print("contact is not added")
    return
addcontacts('phani',9988552211) # contact added
addcontacts('ajay',9988551111) # contact added
addcontacts('phani',9988552211) # contact is not added

contact added
contact added
contact is not added

In [73]:
contacts

{'phani': 9988552211,
 'ajay': 9988551111,
 'yash': 9966552244,
 'sai': 8855992211}

In [71]:
# define function for search contact
def searchcontact(name):
    if name in contacts:
        print(name," : " , contacts[name])
    else:
        print('contact is not present')
    return
searchcontact('phani') # phani : 9988552211
searchcontact('ajay') # ajay : 9988551111
searchcontact('yash') # contact not found

phani  :  9988552211
ajay  :  9988551111
contact is not present

In [72]:
# define the function for import the new contacts
def importcontacts(newcontacts):
    contacts.update(newcontacts)
    print('new contacts are added')
    return
newcontacts = {"yash" : 9966552244,"sai" : 8855992211}
importcontacts(newcontacts)

new contacts are added

In [74]:
contacts

{'phani': 9988552211,
 'ajay': 9988551111,
 'yash': 9966552244,
 'sai': 8855992211}

In [75]:
# define a function for update details
def updatedetails(name,phone):
    if name in contacts:
        contacts[name] = phone
        print('contact update is successful')
    else :
        print('please add new contact details')
    return
updatedetails('phani',9958224400) # update is successful
updatedetails('vineeth',9911002233) # please add contact

contact update is successful
please add new contact details

In [76]:
contacts

{'phani': 9958224400,
 'ajay': 9988551111,
 'yash': 9966552244,
 'sai': 8855992211}

In [77]:
# define function to delete the contact details
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print('contact is deleted')
    else:
        print('contact is not present')
    return
deletecontact('yash') # contact is deleted
deletecontact('vineeth') # contact is not present

contact is deleted
contact is not present

In [78]:
contacts

{'phani': 9958224400, 'ajay': 9988551111, 'sai': 8855992211}

# String to List Conversion
- "1 2 3 4 5 6" - [1,2,3,4,5,6]

In [79]:
a = input('enter a number')
print(type(a))
print(a)

enter a number1 2 3 4 5 6
<class 'str'>
1 2 3 4 5 6

In [80]:
s = "application test working"
li = s.split()
print(li)

['application', 'test', 'working']

In [81]:
s1 = " gitam hyderabad python programming"
li1 = s1.split('a')
print(li1)

[' git', 'm hyder', 'b', 'd python progr', 'mming']

In [82]:
# define a function to convert the string to list
def stringtolist(s):
    li = s.split() # divide the string by white space
    # ['1','2',. . . . '6']
    numberlist = []
    for i in li:
        numberlist.append(int(i))
    return numberlist
stringtolist('1 2 3 4 5 6')

[1, 2, 3, 4, 5, 6]